.error-page {
    text-align: center;
}
.error-page .error-image {
    width: 30%;
}
form li {
    list-style: none;
    margin: 10px 0;
}
.sourceList {
    padding: 0;
}
.sourceList li a {
    padding: 0 0 0 20px;
}
.sourceList li.dir a {
    background: url(../images/folder.png) left center no-repeat;
}
.sourceList li.file a {
    background: url(../images/file.png) left center no-repeat;
}
.sourceList li a.action {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    text-indent: -500px;
    overflow: hidden;
}
.sourceList li a.trash {
    background: url(../images/trash.png) center center no-repeat;
}
.sourceList li a.view {
    background: url(../images/view.png) center center no-repeat;
}
.sourceList li a.edit {
    background: url(../images/edit.png) center center no-repeat;
}
.sourceList li.backLink a {
    background: url(../images/back.png) left center no-repeat;
}
.info-message {
    padding: 15px 0 15px 50px;
    border-radius: 5px;
}
.success {
    background: url(../images/success-icon.png) 5px center no-repeat #9fcc9f;
    color: #06540A;
}
.error {
    background: url(../images/error-icon.png) 5px center no-repeat #f6bda4;
    color: #542a25;
}
.create-file, .create-dir {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -500px;
    overflow: hidden;
    margin: 0 10px 0 0;
}
.create-dir {
    background: url(../images/create-dir.png) no-repeat;
}
.create-file {
    background: url(../images/create-file.png) no-repeat;
}